Checks: '-*,bugprone-*,cert-*,clang-analyzer-*,cppcoreguidelines-*,llvm-*,misc-*,modernize-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type,-llvm-header-guard'
FormatStyle: 'file'